.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.expense-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 100%;
  width: 350px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #bbdefb;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

.expense-list-item-content {
  text-align: center;
}

.expense-list-item div {
  max-width: 100px;
  width: 100px;
}

.expense-list-item:hover {
  background-color: #8aacc8;
}

.economy-total {
  display: flex;
  justify-content: center;
}

.expense-input {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
